/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bee8eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

header:hover {
    color: aqua;
}

section {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px; /* Limit width for larger screens */
}

button {
    padding: 10px 20px;
    background-color: #ee4545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #182bd1;
    font-size: larger;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 600;
    text-align: center;
}

#digit-category {
    color: #333;
    border-radius: 5px;
    width: auto;
    height: auto;
}

#language, #quote-category {
    border-radius: 5px;
}

#b {
    margin-bottom: 10px;
}

label, select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 600;
}

/* Media Queries for Responsiveness */

/* For tablets and smaller desktops */
@media (max-width: 768px) {
    section {
        width: 90%; /* Increase width for smaller screens */
        margin-left: auto;
        margin-right: auto;
    }

    button {
        font-size: medium; /* Adjust button font size */
    }

    p {
        font-size: medium; /* Adjust paragraph font size */
    }
}

/* For mobile devices (Android, etc.) */
@media (max-width: 480px) {
    header h1 {
        font-size: 24px; /* Smaller header font size */
    }

    section {
        width: 95%; /* Increase width for mobile screens */
        padding: 15px; /* Reduce padding */
    }

    button {
        padding: 8px 16px; /* Smaller button padding */
        font-size: small; /* Smaller button font size */
    }

    p {
        font-size: small; /* Smaller paragraph font size */
    }

    label, select {
        font-size: medium; /* Adjust label and select font size */
    }
}